@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap');
body{
    margin: 0 auto 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #2D2D2D;


    -ms-user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		user-select: none;

}
html{
    scroll-behavior: smooth;
}

.navbar {
    overflow: hidden;
    background-color: #2D2D2D;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    padding-top: 15px;
    max-width: 900px;
    margin: auto;

  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 30px 5px 30px;
    text-decoration: none;
    width: 70px;
    transition-duration: .2s;
    border-radius: 10px;
  }

  .navbar a:hover {
    background: transparent;
    color: #63E2B5;
    transition-duration: .8s;

  }
  .introparagraph{
      display: block;
      margin-top: 100px;
      font-size: 12px;
      color: #63E2B5;
      text-transform: uppercase;
  }
  .main {
    margin: auto;
    margin-top: 80px;
    height: 100%;
    background-color: #2D2D2D;
    max-width: 900px;
  }

  .introtext{
      margin-top: -30px;
      font-size:65px;
  }

.introimg img{
    max-width: 900px;
    border-radius: 5px;
}

.line{
    background-color: #63E2B5;
    border-color: #63E2B5;
}

.item{
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 60px;
}

.li1, .li2, .li22{
    width: 50%;
}
.li22{
    margin-left: 45px;
}
.li2{
    margin-left: 10px;
}
.li1 img{
    max-width: 100%;
    border-radius: 10px;
    max-height: 100%;
}
.li2 img{
    max-width: 100%;
    border-radius: 10px;
}
.greypara{
    font-size: 14px;
    color: gray;
}
.para {
    font-size: 16px;
    max-width: 90%;
    margin-bottom: 35px;
}
.linkforbehance{
    padding: 8px 48px;
    border: 1px solid #63E2B5;
    color: #63E2B5;
    margin-top: 10px;
    background-color: transparent;
    border-radius: 5px;
    transition-duration: 0.8s;
    font-size: 14px;
    text-decoration: none;
}
.linkforbehance:hover{
    background-color: #63E2B5;
    color: white;
    transition-duration: 0.8s;
    cursor: pointer;
}
.contlink{
    display: block;
    text-transform: uppercase;
    padding-bottom: 25px;
    font-size: 30px;
    transition-duration: 0.8s;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.contlink:hover{
    color: #63E2B5;
    transition-duration: 0.8s;
}

.foot{
    width: 100%;
    height: 70px;
    background-color: #1E1D1D;
    margin-top: -50px;
}

.nav{
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.li1.last h3, .li2.last p{
    height: 30%;
}


.forminpt{
    margin-bottom: 20px;
    background-color: #63E2B5;
    color: #2D2D2D;
    padding: 10px 70px;
    border: none;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 0px 15px #4A4A4A;
    font-family: 'Montserrat', sans-serif;
}
.forminpt.sec{
    font-size: 10px;
    padding: 7px 40px;
    background-color: transparent;
    color: #C9C9C9;
    border: 1px solid #C9C9C9;
    box-shadow: none;
    cursor:auto;
}

.paraact{
    padding: 10px 5px;
    border: 2px solid #63E2B5;
    font-size: 13px;
    border-radius: 3px;
}
.paraact.s{
    border: 2px solid #616161;
    font-size: 10px;
}
#answers{
    display: none;
}
